

.line:hover{
    background-color:#222;
}

.logview{
    background-color:#111;
    color:#eee;
    overflow:hidden;
    width:100%;
}
.timestamp{
    vertical-align:top;
    display:inline-block;
    background-color:transparent;
    white-space: nowrap;
    overflow:hidden;
    text-overflow: ellipsis;
    color:#f77;
    width:160px;
}
.message{
   vertical-align:top;
   border:0;
   background-color:transparent;
   color:#eee;
   display:inline-block;
   white-space: nowrap;
   overflow:hidden;
   text-overflow: ellipsis;
   width: calc(100% - 160px);;
}

.logwindow{
  background-color:#333;
  color:#eee
}

.logdatetime{
  color:#f77;padding-right:1em;
}

.navbar-inverse{
  background-color: #2C3E50;
}

.navbar-inverse .navbar-brand {
  height: 5em;
  color: #3b97d3;
}

.navbar-brand img {
  width: 10em;
  display: inline;
}

.navbar-inverse .navbar-nav li a{
  color: #3b97d3;
}
.nav{
  margin-top: 1.5em;
}
