.dropzone{
  padding:10px;
  height:450px;
  overflow:scroll;
}

.dz-details{
  position:absolute;
  color:#333;
}

.dz-success-mark, .dz-error-mark{
  visibility:hidden;
}

.dz-success .dz-success-mark{
  visibility: visible;
}

.dz-error .dz-error-mark{
  visibility: visible;
}

.dz-message{
  top:50%;
}

.dz-message span{
  margin:auto;
  width:50%;
  text-align:center;
  display:block;
}

.line:hover{
    background-color:#222;
}

.logview{
    background-color:#111;
    color:#eee;
    overflow:hidden;
    width:100%;
}
.timestamp{
    vertical-align:top;
    display:inline-block;
    background-color:transparent;
    white-space: nowrap;
    overflow:hidden;
    text-overflow: ellipsis;
    color:#f77;
    width:160px;
}
.message{
   vertical-align:top;
   border:0;
   background-color:transparent;
   color:#eee;
   display:inline-block;
   white-space: nowrap;
   overflow:hidden;
   text-overflow: ellipsis;
   width: calc(100% - 160px);;
}

.logwindow{
  background-color:#333;
  color:#eee
}

.logdatetime{
  color:#f77;padding-right:1em;
}
