recursive-include recastcontrolcenter/templates *
recursive-include recastcontrolcenter/recast_interface_templates *
recursive-include recastcontrolcenter/static *
recursive-include recastcontrolcenter/resources *
