<!-- Latest compiled and minified CSS -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>RECAST - An Analysis Reinterpretation Framework</title>

    <!-- Bootstrap -->
    <link rel="stylesheet" href="{{ url_for('static',filename='bootstrap/css/bootstrap.min.css')}}">"
    <link rel="stylesheet" href="{{ url_for('static',filename='css/style.css')}}">

    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="//oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
        <script src="//oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
        <![endif]-->

    {% block postheader %}
    {% endblock %}

    <script type="text/x-mathjax-config">
      MathJax.Hub.Config({tex2jax: {inlineMath: [['$','$'], ['\\(','\\)']]}});
    </script>
    <script type="text/javascript"
      src="//cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML">
    </script>

    <script type="text/javascript">
        MathJax.Hub.Config({
          TeX: {
            Macros: {
              TeV: "\\mathrm{TeV}",
              pT: "p_\\mathrm{T}",
            }
          }
        });
    </script>

    <!-- <script type="text/javascript" src="{{ url_for('static',filename='js/underscore-min.js')}}"></script> -->
    </head>
    <body>
        <script src="//cdnjs.cloudflare.com/ajax/libs/socket.io/0.9.17/socket.io.js"></script>


        <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
        <!-- Include all compiled plugins (below), or include individual files as needed -->
        <script src="{{ url_for('static',filename='bootstrap/js/bootstrap.min.js')}}"></script>
        <style type="text/css" media="screen">
            body { padding-top: 70px; }
        </style>
        <nav class="navbar navbar-default navbar-fixed-top navbar-inverse">
            <div class="container-fluid">

                <div class="navbar-header">
                     <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                       <span class="sr-only">Toggle navigation</span>
                       <span class="icon-bar"></span>
                       <span class="icon-bar"></span>
                       <span class="icon-bar"></span>
                     </button>
                     <a class="navbar-brand" href="{{url_for('home')}}"><img src="{{ url_for('static',filename='img/recast-logo.svg')}}"></img> Control Center</a>
               </div>


                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                    <ul class="nav navbar-nav">
                        <li id="nav-allreq"><a href="{{url_for('recast.recast_requests_view')}}">All Requests</a></li>
                    </ul>

                    <ul class="nav navbar-nav navbar-right">
                    {% if session.has_key('user') %}
                        <li id="nav-allreq"><a href="/logout">Logged in as {{session['user']['username']}}. Logout</a></li>
                    {% else %}
                        <li id="nav-allreq"><a href="/login">Login</a></li>
                    {% endif %}

                    </ul>
                </div>
            </div>
        </nav>

        {% block prebody %}
        {% endblock %}

        <div class="container">
            {% block container %}
            <div id="row" style="background-color:red;">
                hello
            </div>
            {% endblock %}
        </div>


    </body>
    </html>
