{% extends "base.html" %}

{% block prebody %}
<script type="text/javascript">
$(document).ready(function(){

    var socket = io.connect(location.origin+'/monitor');

    socket.emit('helloServer');
    socket.emit('subscribe');
    socket.emit('join_recast_jobguid',{room:'{{jobguid}}'});
    socket.on('room_msg', function (data) {
            console.log('got msg from room');
            console.log(data)
            $('.logwindow').append('<div class="line"><span><code class="timestamp">'+data['date']+'</code></span><span><code class="message">'+escapeHTML(data['msg'])+'</code></span></div>')
        });
});

function escapeHTML(s) {
    return s.replace(/&/g, '&amp;')
            .replace(/"/g, '&quot;')
            .replace(/</g, '&lt;')
            .replace(/>/g, '&gt;');
}
</script>
{% endblock %}

{% block container%}
<div class="page-header">
    <h1>Job Monitor <small>for job {{jobguid}}</small></h1>
</div>


<div class="row">
    <div class="col-md-14">
        <p>Messages from the request processor will appear below. </p>
	<div class="logwindow"></div>
    </div>
</div>
{% endblock %}
