{% extends "base.html" %}
        
{% block prebody %}
<script type="text/javascript">
$(document).ready(function(){
    $('#submit-btn').click(function(){
       //grab all form data  
        var formData = new FormData($('#request-form')[0]);
 
        $.ajax({
          url: location.origin+'/recast/createRequest',
          type: 'POST',
          data: formData,
          async: false,
          cache: false,
          contentType: false,
          processData: false,
          success: function (response) {
            var requestId = response['requestId']
            console.log('created request: ' + requestId)
            $('#requestId').html(requestId)
            $('#showrequest-btn').click(function(){location.href = location.origin + '/recast/request/' + requestId})            
            $('#themodal').modal()
          }
        });

    })
});
</script>

{% endblock %}

{% block container%}
<div class="page-header">
    <h1>Recast <small>calculating fiducial efficiencies for Mono-Higgs models</small></h1>
</div>    

<div class="row">
    <div class="col-md-6">
        <form action="createRequest" id="request-form">
         <div class="form-group">
            <label for="analysis">Analysis</label>
            <select  name="analysis-uuid" class="form-control">
                {% for analysis in analyses %}
                    <option value="{{analysis['uuid']}}">{{analysis['title']}}</option>
                {% endfor %}
            </select> 
        </div>
         <div class="form-group">
            <label for="username">Username</label>
            <input value="lheinric" name="username" type="username" class="form-control" id="username" placeholder="Username">
          </div>
          <div class="form-group">
            <label for="title">Title</label>
            <input name="title" type="title" class="form-control" id="title" placeholder="Title">
          </div>
          <div class="form-group">
            <label for="title">Predefined Model</label>
            <input value="CMSSM" name="predefined-model" type="text" class="form-control" id="model" placeholder="Predefined Model">
          </div>
          <div class="form-group">
            <label for="title">Model type</label>
            <input value="SUSY" name="model-type" type="text" class="form-control" id="model-type" placeholder="Model type">
          </div>


          <button type="button" id="submit-btn" class="btn btn-default">Submit</button>
        </form>
    </div>
</div>
<div id="themodal" class="modal fade">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">Success!</h4>
      </div>
      <div class="modal-body">
        <p>Created request with id: <span id='requestId'>NaN</span></p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary" id="showrequest-btn">Show Request</button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

{% endblock %}