{% extends "base.html" %}
        
{% block prebody %}
<script type="text/javascript">
$(document).ready(function(){
});
</script>

{% endblock %}

{% block container%}
<div class="page-header">
    <h1>Recast Analysis <small>{{analysis_info['title']}}</small></h1>
</div>    

<div class="row">
    <h2>Analysis Details</h2>
    <div class="col-md-10">
      <div class="panel-body">
        <dl class="dl-horizontal">
        {% for key,value in analysis_info.iteritems() %}
          <dt>{{key}}</dt>
          <dd>{{value}}</dd>
        {% endfor %}
        </dl>        
      </div>
    </div>
</div>

{% endblock %}