{% extends "base.html" %}
        
{% block prebody %}
<script type="text/javascript">
$(document).ready(function(){
});
</script>

{% endblock %}

{% block container%}
<div class="page-header">
    <h1>Recast <small>LHC data reinterpreted</small></h1>
</div>    

<div class="row">
    <div class="col-md-6">
        <h2>Introduction</h2>
        <p>
            This is an early prototype for the RECAST framework. Ultimately it will serve as an interface between theorists and experimentantalists and provide results on user-provided physics models based on existing LHC analyes.
        </p>

        <p>
            Also supported: run arbitrary rivet analyses on parton level (unshowered) LHE files. <a href={{url_for('rivet.rivet_new_request')}}>create a request here</a>
         </p>

        <h2>Contact</h2>
        For suggestions and feedback please contact:
        <ul>
            <li>Lukas Heinrich: lukas.heinrich@cern.ch</li>
            <li>Kyle Cranmer: kyle.cranmer@cern.ch</li>
        </ul>
    </div>
</div>
{% endblock %}