{% extends "base.html" %}
{% set page_version = "RIVET" %}
        
{% block prebody %}
<script type="text/javascript">
$(document).ready(function(){

    var socket = io.connect(location.origin+'/monitor');

    socket.emit('helloServer')
    socket.emit('subscribe')

    socket.emit('join',{room: 'first_room'});
    
    socket.on('plainEmit', function () {
        console.log('we can hear you');
    });

    socket.on('room_msg', function (data) {
        console.log('got msg from room');
        console.log(data)
    });

});
</script>

{% endblock %}

{% block container%}
<div class="page-header">
    <h1>Recast <small>An Analysis Reinterpretation Framework</small></h1>
</div>    

<div class="row">
    <div class="col-md-9">
        <h2>Running Rivet</h2>
        <p>
            This version of RECAST allows the user to run any Rivet analysis on Les Houches Files input. You can follow the same basic steps as described <a href="{{url_for('home')}}">here</a>. The result will show the output histograms of the corresponding analysis. You can start by selecting a rivet analysis from the <a href="{{url_for('rivet.rivet_all_analyses_view')}}">list of Rivet analyses</a>.
        </p>

        <h2>Contact</h2>
        For suggestions and feedback please contact:
        <ul>
            <li>Lukas Heinrich: lukas.heinrich@cern.ch</li>
            <li>Kyle Cranmer: kyle.cranmer@cern.ch</li>
        </ul>
    </div>
</div>
{% endblock %}
