{% extends "base.html" %}

{% block postheader %}

{% endblock %}

{% block prebody %}

    <script type="text/javascript">
        $(document).ready(function(){
        })
    </script>

{% endblock %}

{% block container%}
<div class="page-header">
    <h1>Recast Scan Requests</h1>
</div>

<div class="row">

    <table id="requestsTable" class="table table-striped">
        <thead>
            <tr>
                <th>Title</th>
            </tr>
        </thead>
        <tbody>
            {% for row in requests_info %}
              <tr>
                <td><a href=/recast/request/{{row['id']}}>{{row['title']}}</a></td>
                <td style="width: 50%;">
                  {% for b in wflow_config_data[row['id']] %}
                    <span class="label label-default"><span class="glyphicon glyphicon-tag" aria-hidden="true"></span> {{b}}</span>
                  {% endfor %}
                </td>
              </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}
