{% extends "base.html" %}
        

{% block container%}
<div class="page-header">
    <h1>Recast Scan Request <small>{{request_info['title']}}</small></h1>

    <div class="col-md-12">
        <div class="panel panel-default">
        
            <div class="panel-heading">
                <h3 class="panel-title">Request Details</h3>
            </div>
            <div class="panel-body">
                <dl class="dl-horizontal">
                            <dt>analysis</dt>
                            <dd><a href="/recast/analysis/{{analysis_info['uuid']}}">{{analysis_info['title']}}</a></dd>
                    {% for key,value in request_info.iteritems() %}
                        {% if key not in ['parameter-points','analysis-uuid','_links','_id','_updated','_created','_id','_links'] %}
                            <dt>{{key}}</dt>
                            <dd>{{value}}</dd>
                        {% endif %}
                    {% endfor %}
                </dl>        
            </div>
            
            <div class="panel-footer"></div>
        </div>
    </div> <!-- col -->
</div>    

<div class="row">
    <div class="col-md-12">
        <span>
            <button id="upload-response-btn"type="button" class="btn btn-default" aria-label="Left Align">
              <span class="glyphicon glyphicon-upload" aria-hidden="true"></span><span>Upload to RECAST</span>
            </button>    
            <button id="upload-zenodo-response-btn"type="button" class="btn btn-default" aria-label="Left Align">
              <span class="glyphicon glyphicon-upload" aria-hidden="true"></span><span>Mint DOI</span>
            </button>    
            </p>

        </span>
    </div> <!-- col -->
</div> <!-- row -->

<div class="col-md-12">
    {% for point,basic_requests in points_and_requests %}
    <div class="panel panel-default">
        <div class="panel-heading">Point Request #{{loop.index}} {{point['uuid']}}</div>
        <div class="panel-body">
            <h6>Request Details</h6>
            <dl class="dl-horizontal">
                {% for key,value in point.iteritems() %}
                    {% if key not in ['_updated','_created','_id','_links','uuid'] %}
                        <dt>{{key}}</dt>
                        <dd>{{value}}</dd>
                    {% endif %}
                {% endfor %}
            </dl>        
            <hr>
            <h6>Basic Requests</h6>
            {% for basic_request in basic_requests %}
                <div class="col-md-6">
                    <dl class="dl-horizontal">
                        {% for key,value in basic_request.iteritems() %}
                            {% if key not in ['_updated','_created','_id','_links'] %}
                                <dt>{{key}}</dt>
                                <dd>{{value}}</dd>
                            {% endif %}
                        {% endfor %}
                    </dl>        
                </div>
                <div class="col-md-6">
                    <div class="row">
                        <h6>Actions:</h6>
                        <!-- Single button -->
                        <div class="btn-group process-group">
                          <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                            Process <span class="caret"></span>
                          </button>
                          <ul class="dropdown-menu" role="menu">
                          {% for b in ['dummy'] %}
                            <li><a href="#" class="process-btn" data-parameter-pt="" data-backend="">{{b}}</a></li>
                          {% endfor %}
                          </ul>
                        </div>
                        <!-- Single button -->
                        <div class="btn-group results-group">
                          <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                            Results <span class="caret"></span>
                          </button>
                          <ul class="dropdown-menu" role="menu">
                          {% for b in ['dummy'] %}
                            <li><a href="/resultview/dummyendpoing" class="result-btn" data-parameter-pt="" data-backend="">{{b}}</a></li>
                          {% endfor %}
                          </ul>
                        </div>
                    </div>
                    <div class="row">
                        <h6>Past Processing Jobs</h6>
                        {% set joblist = [1,2,3] %}
                        <table class="table">
                            <thead>
                                <tr>
                                    <td>processing id</td>
                                    <td>status</td>
                                </tr>
                            </thead>
                            <tbody>
                            {% for jobinfo in joblist %}
                               <tr>
                                   <td>b</td>
                                   <td>c</td>
                               </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            {% endfor %}
        </div>
        <div class="panel-footer"></div>
    </div>
    {% endfor %} <!-- end of point request loop -->
</div> <!-- row -->

{% endblock %}
