{% extends "base.html" %}

{% block prebody %}
<script type="text/javascript">
$(document).ready(function(){
    $('#upload-response-btn').click(function(){
      console.log('this would be uploading the response')
    })

    {% if not session.has_key('user') %}
       $('#add-parameter-point-btn').addClass('disabled')
       $('#upload-response-btn').addClass('disabled')
       $('#upload-zenodo-response-btn').addClass('disabled')
    {% endif  %}

    var requestResultsAvailable = false
    $.ajax(location.origin+'/status/{{request_info['uuid']}}',{
        async: false,
        complete: function(data){
            requestResultsAvailable = data['responseJSON']['resultsAvailable']
            if(!requestResultsAvailable){
                $('#upload-response-btn').addClass('disabled')
            }
        }
    })

    $('.process-btn').click(function(){
        basicreqid = $(this).attr('data-basic-req-id')
        backend = $(this).attr('data-backend')
        url = location.origin+'/recast/processBasicRequest?basicreqid='+basicreqid+'&backend='+backend+'&analysisid='+{{analysis_info['id']}}
        $.ajax(url,{
            complete: function(data){
                var jobguid = data['responseJSON']['jobguid']
                console.log(data['responseJSON'])
                console.log('got jobguid: '+jobguid)
                window.location.assign(location.origin+'/monitor/' + jobguid)
            }
        })
    })

    $('.result-btn').each(function(){
        var button = $(this)

        backend = button.attr('data-backend')
        var basicReqId = button.attr('data-basic-req-id')
        var backend = button.attr('data-backend')
        var resultsAvailable = false

        var url = location.origin+'/status/'+basicReqId
        $.ajax(url,{
            async: false,
            complete: function(data){
                console.log(data['responseJSON'])
                console.log(data['responseJSON']['ready_backends'])
                console.log(backend)
                resultsAvailable = $.inArray(backend,data['responseJSON']['ready_backends']) >= 0
                console.log('results are available: '+ resultsAvailable)
                if(!resultsAvailable){
                  console.log('disabling button')
                  button.addClass('disabled')
                }
            }
        })
    })

    $('.results-group').each(function(){
        if(!$(this).children().filter('ul').children().filter(function(){return !$(this).hasClass('disabled')}).length){
            $(this).children().filter('button').addClass('disabled')
        }
    })

    {% if not session.has_key('user') %}
       $('.process-group button').addClass('disabled')
    {% endif %}


});
</script>

{% endblock %}

{% block container%}
<div class="page-header">
    <h1>Recast Request <small>{{request_info['title']}}</small></h1>
</div>

<div class="row">
    <div class="col-md-12">
        <div class="panel panel-default">

            <div class="panel-heading">
                <h3 class="panel-title">Request Details</h3>
            </div>
            <div class="panel-body">
                <dl class="dl-horizontal">
                    {% for key in ['post_date','reason_for_request','additional_information'] %}
                            <dt>{{key}}</dt>
                            <dd>{{request_info[key]}}</dd>
                    {% endfor %}
                    <dt>analysis</dt>
                    <dd>{{analysis_info['title']}}</dd>
                </dl>
            </div>

            <div class="panel-footer"></div>
        </div>
    </div> <!-- col -->
</div> <!-- row -->
<div class="row">
    <div class="col-md-12">
        <span>
            <p>
            <button id="upload-response-btn"type="button" class="btn btn-default" aria-label="Left Align">
              <span class="glyphicon glyphicon-upload" aria-hidden="true" style="margin-right:1em"></span><span>Upload Result to RECAST</span>
            </button>
            </p>
        </span>
    </div> <!-- col -->
</div> <!-- row -->

<div class="row">

{% for i,pp in parpoints %}
  <div>
    parameter point {{i}}
    basic:<br>
    <div>
      {% for br in basic_req_data[pp['id']] %}
        <div>
          basic request: {{br['_updated']}}

          <!-- Single button -->
          <div class="btn-group process-group">
            <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
              Process <span class="caret"></span>
            </button>
            <ul class="dropdown-menu" role="menu">
            {% for b in ['capbackend'] %}
              <li><a href="#" class="btn process-btn" data-basic-req-id="{{br['id']}}" data-backend="{{b}}">{{b}}</a></li>
            {% endfor %}
            </ul>
          </div>
          <!-- Single button -->
          <div class="btn-group results-group">
            <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
              Results <span class="caret"></span>
            </button>
            <ul class="dropdown-menu" role="menu">
            {% for b in ['capbackend'] %}
              <li><a href="/resultview/{{br['id']}}/{{b}}" class="btn result-btn" data-basic-req-id="{{br['id']}}" data-backend="{{b}}">{{b}}</a></li>
            {% endfor %}
            </ul>
          </div>


        </div>
      {% endfor %}
    </div>
  </div>


  <!-- {{pp['id']}} -->
{% endfor %}
</div>

<div id="upload-modal" class="modal fade">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
           <h4 class="modal-title">Success</h4>
      </div>
      <div class="modal-body">
          Uploaded latest result file to RECAST server.
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" data-dismiss="modal">OK</button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

{% endblock %}
